<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Squad</title>
</head>
<body>
    <p>
      <form action="/squads" method="POST">
        <input type="text" name ="name" autofocus placeholder = "squad name">
        <input type="text" name ="mascot" placeholder="mascot">
        <input type="submit" value="Add Squad">
      </form>
    </p>
</body>
</html>