<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Student</title>
</head>
<body>
<form action=""></form>
 <form action="/squads/<%=@student["squad_id"] %>/students" method = "POST">
<input type="text"  name="name" > 
<input type="text"  name="age">       
<input type="text"  name="spirit animal">    
<input type="submit" value="add"> 
</body>
</html>