<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Squad</title>
</head>
<body>
<%= @squad["name"] %>
<%= @squad["mascot"] %>
<%= @squad["id"] %>  
<a href="<%= @squad["id"] %>/students"> See Students</a>
</body>
</html>