<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student</title>
</head>
<body>
ID NUMBER:
<%= @student["id"] %> <br>
NAME:
<%= @student["name"] %> <br>
AGE:
<%= @student["age"] %> <br>
SPIRIT ANIMAL:
<%= @student["spirit_animal"] %> <br>
</body>
</html>